<% flash.each do |key, value| %>
    <div class="alert alert-dismissable alert-<%= key %>">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= value %>
    </div>
<% end %>
 
<% if signed_in? %>
    
	<div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="circle" style="background-image: 
                        url('https://codeforces.com/userphoto/title/<%=get_name%>/photo.jpg')">
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-lg-9 col-md-9 col-sm-12"> 
                    <div id="chartContainer" style="height: 500px; width: 100%;"></div>
                </div>
                <div class="clearfix visible-md-block"></div>
                <div class="clearfix visible-lg-block"></div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-lg-3 col-md-9 col-sm-12">
                <%= link_to "Add Friends", { :controller => "friends", :action => "new"}, :class => "btn btn-primary btn-raised" %>
                    <div class="jumbotron">
                      <div class="span6 offset3">
                        <form>

                          <fieldset>
                            <legend>Compare Handles</legend>
                            <div class="form-group">
                              <div class="col-lg-12">
                                  <select class="form-control" id="friendselect" >
                                    <% list = getFriendList.map { |i| i.handle } %>
                                    <%= options_for_select( list ) %>
                                  </select>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-2 col-md-offset-2 compareclass">
                                <a class="btn btn-large btn-primary" > Compare</a>
                              </div>
                            </div>
                          </fieldset>
                          </form>
                      </div>
                    </div>
            </div>
            <div class="clearfix visible-md-block"></div>
            <div class="clearfix visible-lg-block"></div>
            <div class="clearfix visible-sm-block"></div>
        </div>
    </div>
  
    <!-- jquery and canvas graph scripts are loaded right in this file -->
    <%= render 'users/graph' %>
    <%= render 'users/select_script' %>
  	<%= render 'shared/css' %>

<% end %>
