. <!-- this page is supposed to display 
1. Graph on total points socred by user1 and user2 
Total number of points earned
Total number of Problems solved
Total Number of Submissions made
Average Number of Attempts to accept a problem
Number of problems solved in A, B, C, D, E => no
Problems via tags
Adding tag as tool tip to seach submission
Most Number of problems in a day. (which day? optional)
-->

<%= render "shared/css" %>

<div class="jumbotron">
	<div class="container">
	<div class="col-md-6">
		<div class="circle" style="background-image: 
                        url('http://codeforces.com/userphoto/title/<%= @firstUser %>/photo.jpg')">
                    </div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Record</th>
					<th>Result</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="vertical-align: middle;"><a href="javascript:void(0)" class="btn btn-<%= @totalscoreA > @totalscoreB ? 'success' : 'danger' %> btn-fab btn-raised mdi-action-group-work"></a></td>
					<td style="vertical-align: middle;">Total Score</td>
					<td style="vertical-align: middle;"><%= @totalscoreB %></td>
				</tr>
				<tr>
					<td style="vertical-align: middle;"><a href="javascript:void(0)" class="btn btn-<%= @solvedCountA > @solvedCountB ? 'success' : 'danger' %> btn-fab btn-raised mdi-action-group-work"></a></td>
					<td style="vertical-align: middle;">Number of Problems Solved</td>
					<td style="vertical-align: middle;"><%= @solvedCountB %></td>
				</tr>
				<tr>
					<td style="vertical-align: middle;"><a href="javascript:void(0)" class="btn btn-<%= @submissionCountA > @submissionCountB ? 'success' : 'danger' %> btn-fab btn-raised mdi-action-group-work"></a></td>
					<td style="vertical-align: middle;">Number of Submissions Made</td>
					<td style="vertical-align: middle;"><%= @submissionCountB %></td>
				</tr>
				<tr>
					<td style="vertical-align: middle;"><a href="javascript:void(0)" class="btn btn-<%= @averageA < @averageB ? 'success' : 'danger' %> btn-fab btn-raised mdi-action-group-work"></a></td>
					<td style="vertical-align: middle;">Average Attempts to solve Problem</td>
					<td style="vertical-align: middle;"><%= @averageB %></td>
				</tr>
				<!-- <tr>
					<td style="vertical-align: middle;"><a href="javascript:void(0)" class="btn btn-<%= @mostA > @mostB ? 'success' : 'danger' %> btn-fab btn-raised mdi-action-group-work"></a></td>
					<td style="vertical-align: middle;">Most Problems in a day</td>
					<td style="vertical-align: middle;"><%= @mostB %></td>
				</tr> -->

			</tbody>
		</table>
	</div>

	<div class="col-md-6">
	<div class="circle" style="background-image: 
                        url('http://codeforces.com/userphoto/title/<%= @secondUser %>/photo.jpg')">
                    </div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Record</th>
					<th>Result</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="vertical-align: middle;"><a href="javascript:void(0)" class="btn btn-<%= @totalscoreB > @totalscoreA ? 'success' : 'danger' %> btn-fab btn-raised mdi-action-group-work"></a></td>
					<td style="vertical-align: middle;">Total Score</td>
					<td style="vertical-align: middle;"><%= @totalscoreB %></td>
				</tr>
				<tr>
					<td style="vertical-align: middle;"><a href="javascript:void(0)" class="btn btn-<%= @solvedCountB > @solvedCountA ? 'success' : 'danger' %> btn-fab btn-raised mdi-action-group-work"></a></td>
					<td style="vertical-align: middle;">Number of Problems Solved</td>
					<td style="vertical-align: middle;"><%= @solvedCountB %></td>
				</tr>
				<tr>
					<td style="vertical-align: middle;"><a href="javascript:void(0)" class="btn btn-<%= @submissionCountB > @submissionCountA ? 'success' : 'danger' %> btn-fab btn-raised mdi-action-group-work"></a></td>
					<td style="vertical-align: middle;">Number of Submissions Made</td>
					<td style="vertical-align: middle;"><%= @submissionCountB %></td>
				</tr>
				<tr>
					<td style="vertical-align: middle;"><a href="javascript:void(0)" class="btn btn-<%= @averageB < @averageA ? 'success' : 'danger' %> btn-fab btn-raised mdi-action-group-work"></a></td>
					<td style="vertical-align: middle;">Average Attempts to solve Problem</td>
					<td style="vertical-align: middle;"><%= @averageB %></td>
				</tr>
				<!-- <tr>
					<td style="vertical-align: middle;"><a href="javascript:void(0)" class="btn btn-<%= @mostB > @mostA ? 'success' : 'danger' %> btn-fab btn-raised mdi-action-group-work"></a></td>
					<td style="vertical-align: middle;">Most Problems in a day</td>
					<td style="vertical-align: middle;"><%= @mostB %></td>
				</tr> -->

			</tbody>
		</table>
	</div>
	</div>
</div>
<div class="col-md-4">
<div class="alert alert-info">
	Problems solved by <%= @secondUser %> but not by <%= @firstUser %>.
</div>
<table class="table table-hover">
<thead>
	<th>Link</th>	
	<th>Problems</th>
	<th>Ago</th>
	<th>Points</th>
</thead>
<% @bnota.each do |problem| %>
	<% if problem.solved? %>
		<tr class="success">
	<% else %>
		<tr>
	<% end %>
		<td><%= link_to problem.id, problem.getUrl %></td>
		<td><%= problem.name %></td>
		<td><%= problem.daysAgo %></td>
		<td><%= problem.point %></td>
	</tr>
<% end %>
</table>
</div>

<div class="col-md-4">
<div class="alert alert-info">
	Problems solved by <%= @firstUser %> but not by <%= @secondUser %>.
</div>
<table class="table table-hover">
<thead>
	<th>Link</th>	
	<th>Problems</th>
	<th>Ago</th>
	<th>Points</th>
</thead>
<% @anotb.each do |problem| %>
	<% if problem.solved? %>
		<tr class="success">
	<% else %>
		<tr>
	<% end %>
		<td><%= link_to problem.id, problem.getUrl %></td>
		<td><%= problem.name %></td>
		<td><%= problem.daysAgo %></td>
		<td><%= problem.point %></td>
	</tr>
<% end %>
</table>
</div>

<div class="col-md-4">
<div class="alert alert-info">
	Problems solved by both <%= @firstUser %> and <%= @secondUser %>.
</div>
<table class="table table-hover">
<thead>
	<th>Link</th>	
	<th>Problems</th>
	<th>Ago</th>
	<th>Points</th>
</thead>
<% @aandb.each do |problem| %>
	<% if problem.solved? %>
		<tr class="success">
	<% else %>
		<tr>
	<% end %>
		<td><%= link_to problem.id, problem.getUrl %></td>
		<td><%= problem.name %></td>
		<td><%= problem.daysAgo %></td>
		<td><%= problem.point %></td>
	</tr>
<% end %>
</table>
</div>
