<!DOCTYPE html>
<html ng-app="todoApp">
<head>
  <meta charset="utf-8">
  <title>Cfusertool</title>  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
  
  <!-- material design 
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/material.min.css">
  -->
  <!-- folder css -->
  
  <link href="/assets/bootstrap.min.css?body=1" media="all" rel="stylesheet" type="text/css" > 
  <link rel="stylesheet" type="text/css" href="/assets/material/bootstrap.min.css" >
  <link rel="stylesheet" type="text/css" href="/assets/material/material-wfont.min.css" >
  <link rel="stylesheet" type="text/css" href="/assets/material/ripples.min.css" >
  <link rel="stylesheet" type="text/css" href="/assets/material/snackbar.min.css" >
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Google Analytics Script -->
  <%= render 'shared/google_analytics' %>
<!-- End of Google Analytics Script -->

<!--Header of the application-->
  <%= render 'shared/header' %>
<!-- End of application header -->

<div class="container">
  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
</div>

  <%= render 'shared/scripts' %>
</body>
</html>
