<div class="jumbotron">
	<h1>Sign Up</h1>
	<div class="span6 offset3">
		<%= form_for(@account, :html => { :class => "form-horizontal" } ) do |f| %>

			<fieldset>
				<legend>Welcome</legend>
				<div>
					<%= render 'shared/error_messages' %>
				</div>
				<div class="form-group">
					<%= f.label :name, :class => "col-lg-2 control-label" %>
					<div class="col-lg-10">
						<%= f.text_field :name, :class => "form-control" %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :email, :class => "col-lg-2 control-label" %>
					<div class="col-lg-10">
						<%= f.text_field :email, :class => "form-control" %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :password, :class => "col-lg-2 control-label" %>
					<div class="col-lg-10">
						<%= f.password_field :password, :class => "form-control" %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :password_confirmation, "confirmation", :class => "col-lg-2 control-label" %>
					<div class="col-lg-10">
						<%= f.password_field :password_confirmation, :class => "form-control" %>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2 col-md-offset-5">
						<%= f.submit "create my account", :class => "btn btn-large btn-primary" %>
					</div>
				</div>
			</fieldset>
		<% end %>
	</div>
</div>